.jumbotron{
  text-align: center;
  background-color: #404040;
}
.jumbotron h1{
  color: white;
  font-family: serif;
  font-size: 72px;
}
#headshot img{
  float:left;
  width: 350px;
  height: 350px;
  border-radius: 100px;
  margin-top: 20px;

}
.intro{
  text-align: center;
  border: solid 1px;
  background-color: #99ccff
}
.intro p{
  font-size: 18px;
}
.hobbies{
  border: solid 1px;
  margin-top: 20px;
  float:right;
  background-color: #03ff5f
}
.hobbies ul{
  list-style-type: none;
  font-size: 18px;
  padding: 15px;
  padding-bottom: 50px;
}
.hobbies li{
  margin: 10px 0;
}
.hobbies li a:visited{
  color: #c21000;
}
.hobbies h1{
  text-align: center;
}
.projects{
  border: solid 1px;
  background-color: #f269eb;
  margin-top: 20px;
}
.projects h1{
  text-align: center;
}
.projects p{
  text-align: center;
  font-size: 16px;
  padding: 20px;
}
.projects ol{
  font-size: 18px;
}
.projects a:link{
  color: #f7f703;
}
.projects li a:visited{
  color: #f7f703;
}
